.container1 {
    margin-top: 5;
    margin-bottom: 20%;
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "form1 form2 ";
    align-items: center;
    justify-content: center;
}

.form1 {
    background-color: rgb(17, 3, 36);
    padding: 40px;
    border-radius: 20px;
    margin: 10px;
    height: 90%;
}

.form2 {
    background-color: rgb(17, 3, 36);
    padding: 45px;
    padding-top: 70px;
    border-radius: 20px;
    margin: 10px;
    height: 90%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

legend {
    text-align: center;
}

.idBoton {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin: 20px;
    margin-left: 25%;
}

.info {
    margin: 20px;
}

.ingresa {
    text-align: center;
    margin: 40px;
    font-size: 50px;
}

.idBotonLog {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin: 20px;
    margin-left: 35%;
}

.bodyJuego {
    height: 100%;
    width: 100%;
}

.divJ {
    height: 100%;
    margin-top: 15%;
    margin-bottom: 35%;
    text-align: center;
    padding: 20px;
}

.pregPrin {
    font-size: 60px;
    margin-bottom: 40px;
}

.boton {
    border-radius: 10px;
    font-size: 30px;
    width: 50%;
    margin: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.boton:hover {
    background-color: blueviolet;
}

.ganar {
    background-image: url(../imagenes/fondo.jpeg);
}

.ganaste {
    font-size: 100px;
    text-align: center;
    margin: 250px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 40px;
    background-color: black;
}

.felicitar {
    text-align: center;

    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 40px;
    background-color: black;
}